body{
    background: honeydew;
}
.form-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.form-wrapper{
    margin: auto;
    background: rgb(90, 57, 57);
    grid-column: 2;
    text-align: center;
    grid-row: 2;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
form{
    padding: 5px;
    margin: 10px;
}
.form-wrapper h1{
    background: honeydew;
}
input{
   background: honeydew;
    border: 2px solid black;
   font-size: 1em;
    margin: 20px;
    display: block;
    text-align: center;
    height: 5em;
    width: 15em;
}